/* #region commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bld-black: #000000;
    --bld-white: #ffffff;
    --bld-primary: #ff6900;
    --bld-dark: #1a1a1a;
    --bld-discount: #ff0000;
    --bld-sustainability: #008000;
}

body {
    font-family:  sans-serif;
}

a {
    text-decoration: none;
}

/* #endregion commons */


/* #region debug */

.debug #site_header {
    min-height: 75px;
}

.debug .container {
    min-height: 75px;
    background-color: yellow;
}

.debug .row {
    /* min-height: 75px; */
    width: 100%;
    background-color: red;
}

.debug [class^="col-"] {
    border: 1px dotted black;
    height: 75px;
    background-color: palegreen;
}

.debug #site_main [class^="col-"] {
    border: 1px dotted black;
    height: 800px;
    background-color: palegreen;
}

.debug .card,
.debug .navbar,
.debug .logo,
.debug .info,
.debug .tools {
    width: 100%;
    height: 100%;
    background-color: palevioletred;
}



/* #endregion debug */

/* #region utilities */

/* structure */

.container {
    max-width: 1170px;
    width: 80%;
    margin: auto
}

.row {
    display: flex;
}

/* columns */
.col-2 {
    width: calc(100%/12 * 2);
}

.col-4 {
    width: calc(100%/12 * 4);
}

.col-5 {
    width: calc(100%/12 * 5);
}

.col-8 {
    width: calc(100%/12 * 8);
}

/* lists */

.unstyled-list {
    list-style: none;
}

.inlined-list {
    display: flex;
}

/* spacing */

.py-1 {
    padding: 1rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.px-1 {
    padding: 0 1rem;
}

/* miscellaneous */

.heart {
    background-color: var(--bld-white);
    padding: .5rem;
}

.heart:hover {
    color: red;
}

.discount {
    background-color: var(--bld-discount);
}

.price {
    text-decoration: line-through;
}

.final-price {
    color: var(--bld-discount)
}

.sustainability {
    background-color: var(--bld-sustainability);
}

.discount,
.sustainability {
    color: var(--bld-white);
}

/* #endregion utilities */

/* #region header */

#site_header {
    background-color: var(--bld-primary);
    position: sticky;
    width: 100%;
    z-index: 100;
}

#site_header .navbar,
#site_header .logo,
#site_header .tools {
    height: 100%;
    display: flex;
    align-items: center;
}

#site_header .inlined-list {
    color: var(--bld-white);
}

#site_header .navbar li {
    padding-right: .5rem;
}

#site_header a {
    color: var(--bld-white);
}

#site_header .logo {
    justify-content: center;
}

#site_header .tools {
    flex-direction: row-reverse;
    gap: .5rem;
}


#site_header .logo img {
    height: 30px;
}

/* #endregion header */

/* #region main */

#site_main .row {
    flex-wrap: wrap;
}

#site_main [class^="col-"] {
    padding: 1rem;
}

#site_main img {
    max-width: 100%;
}

#site_main .details {
    display: flex;
    gap: .2rem;
}

#site_main .discount,
#site_main .sustainability {
    font-size: .75rem;
    padding: .25rem .5rem;
}

#site_main .card {
    position: relative;
}

#site_main .card a{
color: var(--bld-black);}

#site_main .card:hover .img-primary {
    display: none;
}

#site_main .card .img-secondary {
    display: none;
}

#site_main .card:hover .img-secondary {
    display: inline-block;
}

#site_main .heart {
    position: absolute;
    top: 3%;
    right: 0;
}

#site_main .details {
    position: absolute;
    left: 0;
    top: 75%;
}


/* #endregion main */

/* #region footer */

#site_footer {
    background-color: var(--bld-dark);
    color: var(--bld-white)
}

#site_footer .row {
    justify-content: space-between;
}

#site_footer .info h4,
#site_footer .card h5 {
    padding-bottom: 1rem;
}

#site_footer .inlined-list {
    font-size: .9rem;
    gap: .5rem;
}

#site_footer .inlined-list li {
    display: inline;
}

#site_footer .inlined-list li a {
    color: var(--bld-white);
}

#site_footer .social i{
color: var(--bld-white);}

#site_footer .social i{
    padding-right: .3rem;
}

/* #endregion footer */